<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>tomcat servlet 演示</display-name>

  <!-- 1.ServletContext初始化参数 -->
  <context-param>
    <param-name>name</param-name>
    <param-value>ServletContext初始化参数</param-value>
  </context-param>
  <!-- 2.Servlet配置（定义、映射）开始  -->
  <servlet>
    <servlet-name>servlettest</servlet-name>
    <servlet-class>com.kongxiang.tomcat.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlettest</servlet-name>
    <url-pattern>/servlet/servlettest</url-pattern>
  </servlet-mapping>
  <!-- 2.Servlet配置（定义、映射） 结束 -->

  <!-- 3 Session 配置 -->
  <session-config>
      <!-- 1 分钟-->
    <session-timeout>1 </session-timeout>
  </session-config>

  <!--9.欢迎页面-->
  <welcome-file-list>
    <welcome-file>demo.jsp</welcome-file>
  </welcome-file-list>
</web-app>
